.settings_page_wprus a.nav-tab:focus {
	box-shadow: none;
}

.wprus-ui-wait,
#side-sortables .handlediv,
#logs .handlediv {
	display: none;
}

.settings_page_wprus .handle-order-lower,
.settings_page_wprus .handle-order-higher {
	display: none;
}

.js .postbox .hndle {
    cursor: default;
}

.js .postbox.wprus-site .hndle {
	cursor: pointer;
}

#major-publishing-actions {
	border-top: 0;
}

#postbox-container-2 .wprus-site.postbox {
    display: block;
    margin-bottom: 0;
    box-shadow: none;
    border-top-width: 0;
}

#postbox-container-2 .wprus-site.closed {
	border-bottom-width: 0;
}

#postbox-container-2 .postbox:not(.wprus-site) + .wprus-site {
	border-top-width: 1px;
}

#postbox-container-2 .wprus-site.closed .hndle {
	border-top-width: 0;
}

#postbox-container-2 .wprus-site .wprus-container {
	white-space: nowrap;
}

#postbox-container-2 .wprus-site .wprus-container > div {
	white-space: normal;
}

.wprus-site select {
	width: 100%;
	display: block;
}

.wprus-site hr {
	margin: 20px 0 10px 0;
}

.wprus-site-row,
.wprus-export-row {
	margin-bottom: 15px;
}

.outgoing_actions,
.incoming_actions,
.wprus-export-row {
	width: 45%;
	display: inline-block;
	padding: 0 2%;
	vertical-align: top;
}

.outgoing_actions h4,
.incoming_actions h4 {
	margin: 0.5em 0;
}

.outgoing_actions {
	border-right: 1px solid #eee;
}

.incoming-roles-options,
.export-roles-options {
	margin-top: 15px;
}

.incoming-roles-options label,
.export-roles-options label {
	display: inline-block;
    vertical-align: top;
}

table.wprus-actions {
	width: 100%;
}

table.wprus-actions td.action-checkbox {
    width: 15px;
}

table.wprus-actions td.action-test {
    text-align: right;
}

.wprus-site-footer {
	padding-top: 1em;
    border-top: 1px solid #eee;
    text-align: right;
}

.wprus-site-footer .deletion {
    color: #a00;
}

.wp-core-ui .wprus-actions .button {
    min-height: 25px;
    line-height: 1.5;
    padding: 0 1em;
}

.action-test-result .failure,
.action-test-result .success {
	display: none;
}

.action-test-result .failure,
.wprus-export-actions .failure,
.wprus-container #logs_view .wprus-log-row.alert .log-message,
.wprus-security .alert {
    color: #dc3232;
}

.action-test-result .success,
.wprus-export-actions .success,
.wprus-container #logs_view .wprus-log-row.success .log-message {
    color: #46b450;
}

.wprus-export-actions .warning,
.wprus-container #logs_view .wprus-log-row.warning .log-message {
	color: #ff9a02;
}

#wprus_logs_min_num {
	max-width: 75px;
}
.wprus-container .logs-container {
	padding: 10px;
}

.wprus-container #logs_view,
#wprus_import_results .errors {
    margin-bottom: 15px;
    padding: 10px;
    background: #f1f1f1;
    height: 300px;
    overflow: scroll;
    border: 1px solid #ccd0d4;
    color: #555;
}

.wprus-container #logs_view .wprus-log-row {
	font-weight: bold;
}

.wprus-container #logs_view .wprus-log-row.info {
	color: #888;
}

.wprus-container #logs_view .trace {
    margin: 10px 5px;
    font-weight: normal;
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px #ccd0d4;
    padding: 5px 20px;
    width: max-content;
}


.wprus-users .form-table,
.wprus-export-actions {
	padding: 0 2%;
}

.wprus-export-actions .export-result.show {
    display: inline-block;
    min-height: 30px;
    line-height: 30px;
    margin-left: 15px;
}

.export-result-icons span {
	vertical-align: middle;
}

.wprus-export-actions .export-result,
.wprus-export-actions .failure,
.wprus-export-actions .success,
.wprus-export-actions .warning {
	display: none;
}

#wprus_import_file_filename {
	width: 50%;
}

#wprus_import_results .summary,
#wprus_import_results .errors {
	display: none;
}

#sites_placeholder {
	display: none;
	position: relative;
	min-height: 250px;
	background-image: linear-gradient(to right, #ccd0d4 50%, transparent 50%), linear-gradient(to right, #ccd0d4 50%, transparent 50%), linear-gradient(to bottom, #ccd0d4 50%, transparent 50%), linear-gradient(to bottom, #ccd0d4 50%, transparent 50%);
	background-position: left top, left bottom, left top, right top;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 20px 3px, 20px 3px, 3px 20px, 3px 20px;
}

#sites_placeholder span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 150%;
	font-weight: bold;
	color: #ababab;
}

#wprus_ip_whitelist {
	width: 100%;
	min-height: 100px;
}

#help {
	padding: 5px 16px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(204, 208, 212);
    display: block;
}

.wprus-help {
    border: 1px solid #ccd0d4;
    margin: 10px 0;
}

.wprus-help-inner {
    display: none;
    border-top: 1px solid #f1f1f1;
    padding: 8px 12px;
}

.wprus-help-inner ul {
    margin-left: 15px;
    list-style: disc;
}

.wprus-help h2 {
	text-decoration: underline;
	color: #0073aa;
	transition-property: border, background, color;
	transition-duration: .05s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
}

.wprus-help h2:hover {
	color: #124964;
}